html, body {
    background-color: rgb(43, 42, 42);
    color: white;
    background-image: url("../assets/achtergrond.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link.active {
    color: white !important;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 4px;
    text-decoration-color: red;
    text-decoration-style:dashed;
}

.web-logo {
    width: 75px; 
    height: 75px; 
    border-radius: 100%; 
    object-fit: cover; 
    border: 3px solid #ffffff; 
}

.navbar {
    background: rgb(216, 215, 215);
    border: 0.5px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 12px;
    background-image:url('/assets/navbar.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 1000; 
}

.dropdown-menu {
    background-color: #66f;
}

.dropdown-item:hover {
    color: red;
    background-color: #3703e4;
}

.dropdown-item {
    color: #ffffff;
}

.navbar-brand img {
    max-width: 75px; 
    height: auto; 
    object-fit: contain;
    border-radius: 100%;
}

.portfolio{
    color: #3703e4;;
    letter-spacing: 5px;
    margin-top: 100px;
}

.nav-link {
    color: white;
}

.contactpagina {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.inleiding {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.8;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.image-me {
    border: 3px solid #ffffff;
    border-radius: 50px;
    scale: 65%;
}
   
.contact-container {
    position: absolute;
    top: 150px;
    right: 20px;  
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
  }

.contact-container a {
    text-decoration: none;
    color: #66f;
  }

  .container-form{
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease, 0.3s ease;
    height: 85%;
  }

  .container-form:hover, .container-projecten:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.img-fluid, .A {
    margin-bottom: 4rem;
    scale: 75%;
}

.container-projecten{
    scale: 85%;
    border-radius: 15px;
    transition: 0.3s ease, 0.3s ease;
}

.container-fluid.bg-dark {
    margin-top: 130px; 
}

.carousel {
    position: absolute;
    scale: 75%;
}

  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color:  #1d1c1c; 
    color: #ccc;  
    text-align: center; 
    width: 100%;
    padding: 4px;
}

#map {
  height: 300px; 
  width: 100%; 
}

@media (min-width: 320px) {
    .contact-container {
        display: none;
      }
}
    
@media (min-width: 720px) {
    .contact-container {
        scale: 75%;
        display: block;
      }
}

@media (min-width: 1024px) {
    .contact-container {
        scale: 100%;
        display: block;
      }
}