html, body {
    color: white;
    background-image: url('/assets/achtergrond.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    height: 100%;
}

main {
    font-size: 17px;
}

.nav-link {
    color: rgb(0, 162, 255);
    font-size: larger;
}

.nav-link.active {
    color: rgb(0, 162, 255) !important;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 4px;
    text-decoration-color: red;
    text-decoration-style:dashed;
}

.web-logo {
    width: 75px; 
    height: 75px; 
    border-radius: 100%; 
    object-fit: cover; 
    border: 3px solid #ffffff; 
}

.navbar {
    background: rgb(216, 215, 215);
    border: 0.5px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 12px;
    background-image:url('/assets/navbar2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.dropdown-menu {
    background-color: #66f;
}

.dropdown-item:hover {
    color: red;
    background-color: #3703e4;
}

.dropdown-item {
    color: #ffffff;
}

.navbar-brand img {
    max-width: 75px; 
    height: auto; 
    object-fit: contain;
    border-radius: 100%;
}

.portfolio-title{
    color: rgb(0, 162, 255);
    letter-spacing: 2px;
}

.contactpagina {
    width: 100%;
    max-width: 1000px;
}

.inleiding-text {
    line-height: 1.7;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-size: 15px;
}

.inleiding-container {
    box-shadow: 0 0 15px rgba(0,0,0,0.9);
    border-radius: 50px;
    background-color: rgba(33, 32, 32, 0.9);
}

.image-me {
    border: 3px solid #ffffff;
    border-radius: 50px;
    transform: scale(0.65);
}
   
.contact-container {
    position: absolute;
    
    right: 35px;  
    border-radius: 50px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.9);
    text-align: center;
    z-index: 1;
  }

.contact-container a {
    text-decoration: none;
    color: #66f;
  }

  .container-form{
    background-color: rgba(33, 32, 32, 0.9);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease, 0.3s ease;
    height: 85%;
  }

  .container-form:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.img-fluid, .A {
    margin-bottom: 4rem;
    transform: scale(0.75);
}

.container-projecten{
    transform: scale(0.85);
    border-radius: 15px;
    transition: 0.3s ease, 0.3s ease;
}

.container-fluid.bg-dark {
    margin-top: 130px; 
}

#A, #APcollege {
    border-radius: 50px;
    
}

#map{
    height: 300px;
    width: auto;
    border-radius: 50px;
}

.custom-icon {
    font-size: 3rem;
}

.footer {
width: 100%;
padding: 1rem 0;
color: white;
position: fixed;
bottom: 0;
left: 0;
text-align: center;
}

@media (min-width:320px) {
    .contact-container {
        display: none;
      }
}
    
@media (min-width: 720px) {
    .contact-container {
        transform: scale(0.80);
        display: block;
      }
}

@media (min-width: 1024px) {
    .contact-container {
        transform: scale(1);
        display: block;
      }
}
