body {
    background-color: rgb(43, 42, 42);
    color: white;
    background-image: url("../assets/achtergrond.jpg");
}

html, body {
    overflow-x: hidden;
  }

.nav-link.active {
    color: white !important;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 4px;
    text-decoration-color: red;
    text-decoration-style:dashed;
}

.web-logo {
    width: 75px; 
    height: 75px; 
    border-radius: 100%; 
    object-fit: cover; 
    border: 2px solid #ffffff; 
}

.navbar {
    position: fixed;
    background: rgb(216, 215, 215);
    align-items: center;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0.5px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 12px;
    background-image:url('/assets/navbar.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 1000
}

.navbar-brand img {
    max-width: 75px; 
    height: auto; 
    object-fit: contain;
    border-radius: 100%;
}

.portfolio{
    color: #3703e4;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin-top: 100px;
}

.nav-link {
    color: white;
}

.button-kleur {
    color: white;
}

.contactpagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.image-home {
    height: 600px;
    width: 400px;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.inleiding {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: auto;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.8;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 40px;  
    color: white;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
}

.image-me {
    border: 2px solid #ffffff;
    border-radius: 50px;
    object-fit: cover;
    scale: 65%;
}

.container-inleiding {
    width: 100%;
    background: linear-gradient(135deg, #0c3d5e, #2e18be);
    border-radius: 50px;

    line-height: 1.6;
}
    
.contact-container {
    position: fixed;
    top: 150px;
    right: 30px; 
    background-color: #1e1e1e; 
    color: white;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 15px;
  }

.contact-container a {
    text-decoration: none;
    color: #66f;
  }

  .container-form{
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s ease, 0.3s ease;
    height: 85%;
  }

  .container-form:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.container-projecten{
    scale: 85%;
    background-color: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s ease, 0.3s ease;
}

.container-projecten:hover {
    transform: scale(1.02); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.carousel {
    position: absolute;
    padding: 120px;
}
  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color:  #1d1c1c; 
    color: #ccc; 
    padding: 20px; 
    text-align: center; 
    width: 100%;
    padding: 4px;   
}

#apMap {
  height: 300px; 
  width: 100%; 
}

@media (min-width: 320px) {
    .container-inleiding {
        max-width: 320px;
        margin: auto;
    }
    .portfolio {
        text-align: center;
    }
    .contact-container {
        display: none;
      }
}
    
@media (min-width: 720px) {
    .container-inleiding {
        max-width: 720px;
        margin: 50px;
    }
    .portfolio {
        text-align: left;
    }
    .contact-container {
        scale: 75%;
        display: block;
      }
}

@media (min-width: 1024px) {
    .container-inleiding {
        max-width: 1024px;
        margin: 40px;
        padding-left: 100px;
    }
    .portfolio {
        text-align: left;
    }
    .contact-container {
        scale: 100%;
        display: block;
      }
}

